apiVersion: v1
kind: Service
metadata:
  name: {{ include "order-taking.fullname" . }}
  labels:
    {{- include "order-taking.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
    nodePort: {{ .Values.service.nodePort }}
    {{- end }}
  selector:
    {{- include "order-taking.selectorLabels" . | nindent 4 }}

